.TaskCard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.TaskCard, .TaskCard .input, .TaskCard .textarea {
  color: #FFFFFF;
}

.TaskCard > .background {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.TaskCard .background,
.TaskCard > .outer-content {
  opacity: 0.2;
  transition: opacity 0.2s linear;
}

.TaskCard > .outer-content {
  opacity: 1;
}

.TaskCard.hidden .background,
.TaskCard.hidden > .outer-content {
  opacity: 0;
}

.TaskCard > .outer-content {
  position: relative;
  align-self: center;
  border-radius: 5px;
  padding: 7px;
  background-color: rgba(150, 200, 230, 0.6);
  color: white;
  width: 700px;
  min-height: 50px;
  overflow: visible;
  z-index: 200;
}

.TaskCard .inner-content {
  display: flex;
  margin: 5px 0;
}

.TaskCard .inner-content .layout {
  flex: 1;
}

.TaskCard .inner-content .layout > *:first-child{
  margin-right: 10px;
  margin-bottom: 30px;
}

.TaskCard .actions {
  margin-top: 20px;
}

.TaskCard .buttons {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow-y: auto;
}

.TaskCard .buttons > *:not(:last-child) {
  margin-right: 7px;
}

.TaskCard .overlay-blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3;
}

/*linear-gradient(to top, #6d50a2, #ed2b88);*/
