.TaskCard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.TaskCard > .background {
  background-color: black;
  opacity: 0.2;
  transition: opacity 2s linear;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.TaskCard.hidden .background {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.TaskCard > .outer-content {
  align-self: center;
  border-radius: 5px;
  padding: 7px;
  background-color: rgba(150, 200, 230, 0.6);
  color: white;
  width: 700px;
  min-height: 50px;
  overflow: visible;
  z-index: 200;
}

.TaskCard .inner-content {
  display: flex;
  margin: 15px 0;
}

.TaskCard .inner-content .layout {
  flex: 1;
}

.TaskCard .buttons {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow-y: auto;
}

.TaskCard .buttons > *:not(:last-child) {
  margin-right: 7px;
}

/*linear-gradient(to top, #6d50a2, #ed2b88);*/
